!urxvt*termName:         rxvt-unicode
URxvt.perl-ext-common: default,tabbed,matcher,searchable-scrollback,selection-to-clipboard
urxvt*cutchars: "()*,<>[]{}|'"
urxvt*urlLauncher:      firefox
urxvt*matcher.button:   1
Xft.dpi: 120
Xft.antialiasing: true
Xft.rgba: rgb
Xft.hinting: true
Xft.lcdfilter: lcddefault
*saveLines: 1000000

!urxvt*keysym.S-Prior:	^[[5;2~
!urxvt*keysym.S-Next:	^[[6;2~
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show


URxvt*scrollBar: false
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true
URxvt*loginShell: true
URxvt*fading: 30
urxvt*highlightSelection: true
!urxvt*tintColor: #000000
!urxvt*blurRadius: 99
!urxvt*transparent: true
!urxvt*shading: 30

urxvt*depth: 32
urxvt*background: rgba:2800/2f00/3900/d200

! URxvt.letterSpace: -1

! -- Fonts -- !
!URxvt.font-size.step: 4
URxvt.font:xft:Monospace:pixelsize=11
!URxvt.font.xft.FontAwesome\-g: size=8
!URxvt.font:xft:EnvyCodeR\-g: size=6
URxvt.boldfont:xft:Monospace-Bold:pixelsize=11
!URxvt*font:  -xos4-terminus-medium-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:pixelsize:12
!URxvt*boldFont:  -xos4-terminus-bold-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:bold:pixelsize:12
!URxvt*italicFont:  xft:Bitstream Vera Sans Mono:italic:autohint=true:pixelsize=12
!URxvt*boldItalicFont:  xft:Bitstream Vera Sans Mono:bold:italic:autohint=true:pixelsize=12

urxvt*cursorColor:  #C1C1C1
!urxvt*cursorColor:  #ff6600
urxvt*cursorBlink:   off
urxvt*pointerColor: #00ff00
!urxvt*background:   #141414
urxvt*boldMode:      on
urxvt*colorMode:     on
urxvt*colorBDMode:   on
urxvt*colorULMode:   on
urxvt*underLine: on

! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

*background: #282f39
*foreground: #ffffff

! --- standard colors ---

! black
*color0: #060c13

! bright_black
*color8: #252b31

! red
*color1: #ad4f4e

! bright_red
*color9: #bf9193

! green
*color2: #41b455

! bright_green
*color10: #87c597

! yellow
*color3: #a6b44e

! bright_yellow
*color11: #bcc593

! blue
*color4: #4948ba

! bright_blue
*color12: #8b8dcb

! magenta
*color5: #ad48b3

! bright_magenta
*color13: #bf8dc8

! cyan
*color6: #41acba

! bright_cyan
*color14: #87c2cb

! white
*color7: #b4bac0

! bright_white
*color15: #d2d8df


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------

